<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828826137954-m0r2jbfs9v3oeq5n2ccighbqi52arh9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828826137954-m0r2jbfs9v3oeq5n2ccighbqi52arh9p</string>
	<key>API_KEY</key>
	<string>AIzaSyAItPLQJuy_E_fja8SB2yDbU8tWICbemFk</string>
	<key>GCM_SENDER_ID</key>
	<string>828826137954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zcred.NewsToDay</string>
	<key>PROJECT_ID</key>
	<string>news-34c04</string>
	<key>STORAGE_BUCKET</key>
	<string>news-34c04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828826137954:ios:f9cd9065d86adbc324e83b</string>
</dict>
</plist>